<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <link rel='stylesheet' href='<%= basePath %>/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="container-3">
<div class="element">


      <div class="container-3-1">
    <form action="<%= basePath %>/login" method="post">
      <input class="password" type="password" name="password" placeholder="Enter password" value=""/>
      <br><br>
    </div>
    <div class="connection">
      <input class="save-button" type="submit" name="button" value="SE CONNECTER"/>
    </div>
    </form>


    </div>
  </div>
  </div>

  </body>
</html>
